<div class="main-layout">
  <div class="score-container">
      <div class="score-layout">
        <span class="score-text">{{quiz.score()}}</span>
        <span class="score-icon glyphicon glyphicon-star"></span>
      </div>
  </div>
  <div class="loading">
    <loading>
      <span item class="letter animated">{{quiz.loadingText}}</span>
    </loading>
  </div>

  <div ng-if="quiz.isLoaded()" class="question-container animation-duration animated" next-word-nav="quiz.nav" nav-callback="quiz.loadQuestion()" nav-animation="fade">
    <div class="center">
      <span class="letter" ng-repeat="char in quiz.word() track by $index">{{char}}</span>
    </div>
    <div class="divider-margin">
      <div class="strike">
        <span>Translation</span>
      </div>
    </div>
    <div class="quiz-answers" ng-class="{'disable-click':quiz.correctAnswer != null}">
      <div class="btn btn-base quiz-item" ng-class="[{'correct-answer':quiz.correctAnswer === $index},{'wrong-answer':quiz.userAnswer === $index && quiz.userAnswer !== quiz.correctAnswer}]"
       ng-repeat="option in quiz.options() track by $index" ng-click="quiz.applyAnswer($index)">
        <span>{{option}}</span>
      </div>
    </div>
    <div class="button-block col-sm-offset-2 col-sm-8">
      <div type="button" class="btn btn-solution" ng-class="{'disable':quiz.isAnswered()}" ng-click="quiz.applyAnswer()">Solution</div>
      <div type="button" class="btn btn-next"  ng-class="{'disable':!quiz.isAnswered(), 'btn-highlight':quiz.isAnswered()}" ng-click="quiz.onNavigation()">Next</div>
    </div>
  </div>
</div>
