<div class="row">
  <div class="word col-sm-offset-2 col-sm-8">
    <div class="center">
      <span class="letter" ng-repeat="char in quiz.data.word track by $index">{{char}}</span>
      <a class="btn_word_switch_state" ui-sref="quiz.question"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
    </div>
    <hr class="divider"/>
    <div class="center description_text" ng-repeat="definition in quiz.data.definition">
      {{$index + 1}}. {{definition}}
    </div>
    <hr class="divider"/>
    <div class="center description_text" ng-repeat="sentence in quiz.data.inSentence">
      {{$index + 1}}. {{sentence}}
    </div>
  </div>
</div>
