<div ng-include src="'navbar/navbar.html'"></div>
<div class="container dictionary-table">
  <div class="dictionary-caption">
    <div class="checkbox-cell">
      <input class="checkbox" type="checkbox" ng-model="dictionary.allChecked" ng-click="dictionary.checkAll()">
    </div>
    <div class="search-cell">
      <input class="search" type="text" placeholder="Search" ng-model="dictionary.search">
    </div>
    <div class="btn-cell">
      <div class="btn-dictionary" ng-click="dictionary.add()">Add</div>
    </div>
  </div>
  <div class="dictionary-row" ng-repeat="word in dictionary.words track by $index">
    <div class="checkbox-cell">
      <input class="checkbox" type="checkbox" ng-model="word.checked">
    </div>
    <div class="sound-cell" ng-click="dictionary.sound(word.audioUrl)">
      <i class="btn-dictionary fa fa-volume-up"></i>
    </div>
    <div class="word-cell">{{word.word}} - {{word.translation}}</div>
    <div class="img-cell">
      <img class="dictionary-img" src="word.imageUrl">
    </div>
    <div class="remove-cell" ng-click="dictionary.remove(word)">
      <i class="btn-dictionary fa fa-trash"></i>
    </div>
  </div>
</div>
