<div class="main-layout">
  <div class="dictionary-category-caption">
    <div class="btn-dictionary batch-base">
      <i class="fa fa-arrow-left" ng-click="dictionary.back()"></i>
    </div>
    <span>{{dictionary.category}}</span>
    <loading class="dictionary-loading">
      <span item class="letter animated">loading...</span>
    </loading>
  </div>

  <div class="dictionary-table">
    <div class="dictionary-caption">
      <div class="checkbox-cell">
        <input class="checkbox" type="checkbox" ng-model="dictionary.allChecked" ng-click="dictionary.checkAll()">
      </div>
      <div class="search-cell" ng-show="!dictionary.checked()">
        <input class="search" type="text" placeholder="Search" ng-model="dictionary.search">
        <i class="btn-add fa fa-plus-square-o" ng-hide="!dictionary.search || dictionary.all"
        popover-trigger="'outsideClick'" popover-is-open="dictionary.addPopover.isOpen"
        uib-popover-template="'dictionary/addPopover.html'" popover-placement="bottom-right"
        ng-click="dictionary.add()"></i>
      </div>
      <div class="batch-cell" ng-show="dictionary.checked()">
        <div class="batch-group">
          <div class="btn-dictionary batch-item">
            <i class="fa fa-trash" ng-click="dictionary.removeChecked()"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="dictionary-row" ng-repeat="word in filteredWords = (dictionary.words | learned:false | wordSearchFilter:dictionary.search) track by $index"
    ng-include="'dictionary/word.html'">
    </div>
    <div class="empty-list-cell" ng-show="dictionary.search && !filteredWords.length">
      Word <span class="dictionary-search-word">{{dictionary.search}}</span> wasn't found. {{dictionary.all ? '': 'Add it to dictionary.'}}
    </div>
    <div class="empty-list-cell" ng-show="!dictionary.search && !filteredWords.length">
      Dictionary is empty.
    </div>
  </div>
  <div ng-show="learnedWords.length">
    <div class="learned-caption">
        <span>Learned words<span>
    </div>
    <div class="dictionary-table">
      <div class="dictionary-row" ng-repeat="word in learnedWords = (dictionary.words | learned:true | wordSearchFilter:dictionary.search) track by $index"
      ng-include="'dictionary/word.html'">
      </div>
    </div>
  </div>
</div>
