<div class="checkbox-cell">
  <input class="checkbox" type="checkbox" ng-model="word.checked">
</div>
<div class="sound-cell" ng-click="dictionary.sound(word)">
  <i class="btn-dictionary fa fa-volume-up"></i>
</div>
<div class="word-cell" ng-click="dictionary.showCard(word)">
  {{word.word}} - <span ng-repeat="translation in word.translation track by $index">{{translation}}{{$last ? '' : ', '}}<span/>
</div>
<div class="progress-cell">
  <round-progress max="100" current="word.answered" bgcolor="#c9dfdf" color="#74afad" radius="12" stroke="5"></round-progress>
</div>
<div class="img-cell">
  <img class="dictionary-add-img clickable" src="../images/add.png" ng-click="dictionary.changeImg(word)">
  <img class="dictionary-img" ng-src="{{word.imageUrl || dictionary.defaultImg}}">
</div>
<div class="remove-cell" ng-click="dictionary.remove(word)">
  <i class="btn-dictionary fa fa-trash"></i>
</div>
