<div class="category-layout">
  <div class="category-header">
    <div class="btn-category" ng-click="vm.addCategory()">
      Add Category
    </div>
  </div>
  <div class="col-sm-12">
    <hr class="category-header-divider"/>
    <div class="empty-list-cell" ng-show="!vm.categories.length">
      No categories.
    </div>
    <div ng-show="vm.categories.length">
      <div class="category-container col-sm-1" ng-repeat="category in vm.categories" uib-tooltip-template="'category/category-tooltip.html'">
        <a ui-sref="dictionary({category: category.name})">
          <figure>
            <img class="category-img" ng-src="{{category.imageUrl}}">
            <figcaption class="text">{{category.name}}</figcaption>
          </figure>
        </a>
        <div ng-hide="$index === 0" class="btn-remove-category">
          <i class="fa fa-times" ng-click="vm.removeCategory(category)"></i>
        </div>
        <div ng-hide="$index === 0" class="btn-edit-category">
          <i class="fa fa-pencil" ng-click="vm.editCategory(category)"></i>
        </div>
      </div>
    </div>
  </div>
</div>
