<div class="col-sm-offset-1 col-sm-10">
  <a ui-sref="auth.login" class="btn btn_base col-sm-6 fog">Login</a>
  <div class="btn btn_base col-sm-6 disable_click">Registration</div>
</div>
<div class="col-sm-12">
  <hr class="divider"/>
</div>
<div class="col-sm-offset-2 col-sm-8">
  <form name="registraionForm" ng-submit="auth.registration()" role="form">
    <div class="form-group">
      <input type="email" name="username" class="form-control auth_input" ng-model="auth.email" placeholder="Email" required></input>
      <div class="auth_help_block" ng-messages="registraionForm.username.$error" role="alert">
        <div ng-message="required">The field is required</div>
        <div ng-message="email">Your email address is invalid</div>
      </div>
      <input type="password" name="password" class="form-control auth_input auth_margin" ng-model="auth.password" check-password="registraionForm.password.$error"
       placeholder="Password" required minlength="8" maxlength="16"></input>
      <div class="auth_help_block" ng-messages="registraionForm.password.$error" role="alert">
        <div ng-message="required">The field is required</div>
        <div ng-message="invalidPassword">Password should contain only ASCII characters</div>
        <div ng-message="minlength">Password can't be less then 8 characters</div>
        <div ng-message="maxlength">Password can't be more then 16 characters</div>
      </div>
    </div>
    <div class="center">
      <button type="submit" class="btn btn_base btn_auth_submit" ng-disabled="registraionForm.$invalid">Create Account</button>
    </div>
  </form>
</div>
<div class="col-sm-12 login_divider">
  <div class="strike">
    <span>or</span>
  </div>
</div>
<div class="col-sm-offset-1 col-sm-10">
  <div class="btn btn_base col-sm-6 btn_oauth fog" ng-click="auth.goLogin()">
    <i class="fa fa-facebook-official btn_oauth_icon"></i>
    <span>Facebook</span>
  </div>
  <div class="btn btn_base col-sm-6 btn_oauth fog" ng-click="auth.goLogin()">
    <i class="fa fa-vk btn_oauth_icon"></i>
    <span>Vkontakte</span>
  </div>
  <div class="btn btn_base col-sm-6 btn_oauth fog" ng-click="auth.goLogin()">
    <i class="fa fa-odnoklassniki-square btn_oauth_icon"></i>
    <span class="btn_oauth_text">Одноклассники</span>
  </div>
  <div class="btn btn_base col-sm-6 btn_oauth fog" ng-click="auth.goLogin()">
    <i class="fa fa-google-plus-official btn_oauth_icon"></i>
    <span>Google+</span>
  </div>

</div>
