<div class="col-sm-offset-1 col-sm-10">
  <a ui-sref="auth.login" class="btn auth_tab col-sm-6 fog">Login</a>
  <div class="btn auth_tab_selected col-sm-6 disable_click">Registration</div>
</div>
<div class="col-sm-12">
  <hr class="divider"/>
</div>
<div class="col-sm-offset-2 col-sm-8">
  <form name="registrationForm" ng-submit="auth.registration()" role="form">
    <div class="form-group">
      <input type="email" name="username" class="form-control auth_input" ng-model="auth.email" error-message message="auth.error" required-on-condition="auth.errorClick" placeholder="Email" novalidate/>
      <div class="auth_help_block" ng-messages="registrationForm.username.$error" role="alert">
        <div ng-message="required">The field is required</div>
        <div ng-message="email">Your email address is invalid</div>
        <div ng-message="error">{{auth.error}}</div>
      </div>
      <input type="password" name="password" class="form-control auth_input auth_margin" ng-model="auth.password"
       check-password required-on-condition="auth.errorClick" placeholder="Password" ng-minlength="8" ng-maxlength="16" novalidate/>
      <div class="auth_help_block" ng-messages="registrationForm.password.$error" role="alert">
        <div ng-message="required">The field is required</div>
        <div ng-message="invalidPassword">Password should contain only ASCII characters</div>
        <div ng-message="minlength">Password can't be less then 8 characters</div>
        <div ng-message="maxlength">Password can't be more then 16 characters</div>
      </div>
    </div>
    <div class="center">
      <button type="submit" class="btn btn_base btn_auth_submit" ng-disabled="registrationForm.$invalid">Create Account</button>
    </div>
  </form>
</div>
<div class="col-sm-12 divider_margin">
  <div class="strike">
    <span>or</span>
  </div>
</div>
<div class="col-sm-offset-1 col-sm-10">
  <div class="btn btn_base col-sm-6 btn_oauth fog" ng-click="auth.fbLogin()">
    <i class="fa fa-facebook-official btn_oauth_icon"></i>
    <span>Facebook</span>
  </div>
  <div class="btn btn_base col-sm-6 btn_oauth fog" ng-click="auth.vkLogin()">
    <i class="fa fa-vk btn_oauth_icon"></i>
    <span>Vkontakte</span>
  </div>
  <div class="btn btn_base col-sm-6 btn_oauth fog" ng-click="auth.goLogin()">
    <i class="fa fa-odnoklassniki-square btn_oauth_icon"></i>
    <span>Одноклассники</span>
  </div>
  <div class="btn btn_base col-sm-6 btn_oauth fog" ng-click="auth.goLogin()">
    <i class="fa fa-google-plus-official btn_oauth_icon"></i>
    <span>Google+</span>
  </div>

</div>
