html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

textarea, input, button {
  outline: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after,
q::before, q::after {
  content: ''; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

a, a:hover, a:active, a:focus {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, iframe, video, object {
  max-width: 100%; }

.main-layout {
  padding: 0 15%; }

.main-game-container {
  background-color: #f4f2f2;
  border: 1px solid #abcfcd;
  border-radius: .5rem;
  box-shadow: 0 0 5px #74afad;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 150px;
  margin-bottom: 2%;
  max-height: 150px;
  text-align: center;
  transition: background-color .25s ease-in-out;
  vertical-align: middle; }
  .main-game-container:hover {
    background-color: #abcfcd; }
  .main-game-container > span > sup {
    font-size: 1rem; }

.btn-brand {
  cursor: pointer;
  margin-top: 2px; }

.navbar-right li a {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic; }
  .navbar-right li a:hover, .navbar-right li a:focus, .navbar-right li a:active {
    background-color: #74afad;
    color: #000; }

.navbar-custom {
  background-color: #a2c9c8; }

.auth-tab, .auth-tab-selected {
  border-radius: 0;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  overflow: hidden;
  padding: 0 3% 3%;
  text-align: center;
  text-overflow: ellipsis;
  transition: all .25s ease-in-out;
  white-space: nowrap; }

.auth-tab-selected {
  border-bottom: 1px solid #74afad; }

.btn-auth-submit {
  background-color: #ececea; }
  .btn-auth-submit:focus {
    outline: none !important; }

.auth-input {
  border: 1px solid #74afad;
  border-radius: 4px; }

.auth-margin {
  margin-top: 2px; }

.shadow {
  box-shadow: 3px 3px 5px 6px #ccc; }

.btn-oauth {
  line-height: 30px; }
  .btn-oauth:hover {
    opacity: 1; }

.btn-oauth-icon {
  float: left;
  font-size: 30px; }

.auth-help-block {
  font-size: .7em;
  font-weight: bold;
  margin-bottom: 5px;
  max-height: .8em;
  min-height: .8em;
  opacity: .6; }

.user-container {
  font-family: Papyrus, fantasy;
  margin-left: 3%; }

.user-data-container {
  background-color: #fff;
  height: 80vh;
  overflow: hidden;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  position: relative; }

.nav-tabs {
  border-bottom: 0; }
  .nav-tabs > li > a {
    border: 0;
    border-radius: 0;
    margin-right: 0; }
  .nav-tabs > li.active > a {
    border: 0; }
    .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
      border: 0; }

.tabs {
  float: left; }

.tab-img {
  display: block;
  margin: auto; }

.avatar {
  float: left;
  position: relative;
  width: 160px;
  z-index: 3; }

.profile-username {
  font-size: 1.6em; }

.profile-info {
  font-size: 1em; }

.progress-container {
  margin-left: 160px;
  margin-top: 10px; }

.rank-level {
  background: url("images/level.png");
  float: left;
  font-size: 1.1em;
  height: 48px;
  margin-left: 8%;
  margin-right: -15px;
  margin-top: -12px;
  padding-top: 15px;
  text-align: center;
  width: 48px; }

.rank-bar {
  margin-right: 10%; }

.profile-activity {
  margin-left: 160px;
  margin-top: 50px; }

.profile-divider {
  margin-left: 20px;
  margin-top: 5px; }

.profile-activity-header {
  font-size: 1.5em; }

.profile-activity-body {
  margin-bottom: 10px; }

.profile-activity-body-timeline {
  font-size: 1em; }

.profile-activity-body-info {
  background-color: #ececea;
  border-radius: 3px;
  display: inline-block;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px; }

.profile-activity-body-info-description {
  padding-bottom: 2px;
  padding-top: 10px; }

.background-img {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1; }

.question-container {
  margin-top: 15%; }

.quiz-modal {
  font-family: Arial, Helvetica, serif;
  font-size: 2em;
  font-style: italic;
  padding: 2%;
  text-align: center; }
  .quiz-modal .divider {
    border-color: #ccc; }
  .quiz-modal .score-text {
    color: #af8f73; }
  .quiz-modal .score-icon {
    color: #af8f73;
    font-size: 1.5em; }

.modal {
  text-align: center; }
  .modal::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

.modal-content {
  border-color: #74afad;
  border-radius: 25px;
  border-width: 2px; }

.score-icon-margin {
  margin-left: 3px; }

.score-container {
  color: #74afad;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: .5%;
  text-align: right;
  white-space: nowrap; }

.score-icon {
  font-size: 2em;
  vertical-align: middle; }

.score-text {
  font-size: 1.5em;
  vertical-align: bottom; }

.word {
  border-color: #74afad;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
  padding: 1%; }

.letter, .input-letter {
  border: 1px solid #74afad;
  border-radius: 5px;
  display: inline-block;
  font-size: 2em;
  margin-bottom: 1%;
  margin-top: 1%;
  min-width: 6%;
  padding: 1%; }
  .letter:not(:first-child), .input-letter:not(:first-child) {
    margin-left: 1%; }

.input-letter {
  background-color: #ececea;
  cursor: pointer;
  outline: none;
  text-align: center;
  width: 5%; }
  .input-letter:focus, .input-letter:hover, .input-letter:active {
    background-color: #558c89;
    color: #fff; }

.btn-ok {
  border: 2px solid #74afad;
  color: #000;
  font-weight: bold;
  padding-left: 5%;
  padding-right: 5%;
  transition: all .25s ease-in-out; }
  .btn-ok:hover {
    transform: scale(1.1); }

.btn-solution {
  border: 2px solid #74afad;
  font-weight: bold;
  margin-right: 2%; }
  .btn-solution:hover {
    background-color: #75af73;
    color: #fff;
    transform: scale(1.1); }

.btn-next {
  border: 2px solid #74afad;
  font-weight: bold;
  margin-right: 2%; }
  .btn-next:hover {
    background-color: #558c89;
    color: #fff;
    transform: scale(1.1); }
  .btn-next.btn-highlight {
    background-color: #75af73;
    color: #fff; }

.animation-duration {
  animation-duration: .5s; }

.btn-highlight {
  box-shadow: 0 0 25px #75af73;
  transform: scale(1.1); }

.btn-word-switch-state {
  color: #558c89;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px; }

.description-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em; }

.countdown {
  border-radius: 50%;
  border: 2px solid #a2c9c8;
  width: 40px;
  height: 40px;
  position: relative; }

.count {
  font-size: 1.5rem;
  position: absolute;
  color: #558c89;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.dictionary-table {
  border-collapse: collapse;
  display: table;
  margin-top: 50px; }

.dictionary-row {
  width: 100%;
  display: table-row;
  border-bottom: 1px dashed #74afad; }

.dictionary-caption {
  width: 100%;
  display: table-caption;
  border-bottom: 1px solid #74afad; }

.checkbox-cell {
  cursor: pointer;
  display: table-cell;
  height: 3rem;
  width: 3rem;
  border-right: 1px solid #74afad;
  text-align: center;
  vertical-align: middle; }

.checkbox {
  display: inline-block; }

.search-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-left: 0.8rem; }

.search {
  border: 1px solid #74afad;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, serif;
  padding-right: 1rem;
  border-bottom-right-radius: 8px; }

.btn-add {
  font-size: 0.9rem;
  margin-left: -1.1rem; }

.batch-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-left: 1rem; }

.batch-group {
  border: 1px solid #74afad;
  border-radius: 5px;
  font-size: 0; }

.batch-item {
  display: inline-block;
  vertical-align: middle;
  height: 1.5rem;
  width: 2rem;
  font-size: 1rem; }
  .batch-item > i {
    margin-top: 0.25rem; }
  .batch-item:not(:last-child) {
    border-right: 1px solid #74afad; }

.sound-cell {
  display: table-cell;
  width: 3rem;
  text-align: center;
  vertical-align: middle; }

.btn-dictionary, .btn-add {
  cursor: pointer;
  display: inline-block; }
  .btn-dictionary:hover, .btn-add:hover {
    color: #74afad; }

.word-cell {
  display: table-cell;
  text-align: left;
  text-overflow: ellipsis;
  vertical-align: middle; }

.img-cell {
  display: table-cell;
  width: 2rem;
  vertical-align: middle;
  transition: all .25s ease-in-out; }
  .img-cell:hover {
    transform: scale(1.2); }

.dictionary-img {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  object-fit: fill; }

.empty-list-cell {
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
  background-color: #e0e0dd;
  border-radius: 0 0 5px 5px; }

.dictionary-search-word {
  color: #558c89; }

.remove-cell {
  display: table-cell;
  width: 3rem;
  text-align: center;
  vertical-align: middle; }

.background {
  background-color: #ececea; }

.table-container {
  display: table;
  height: 80%;
  position: absolute;
  width: 100%; }

.cell-container {
  display: table-cell;
  vertical-align: middle; }

.table-cell-content {
  margin-left: auto;
  margin-right: auto;
  width: 35%; }

.table-cell-border {
  display: inline-block;
  padding: 20px; }

.divider-margin {
  margin-bottom: 10px;
  margin-top: 10px; }

.strike {
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap; }
  .strike > span {
    display: inline-block;
    position: relative; }
    .strike > span::before, .strike > span::after {
      background: #74afad;
      content: '';
      height: 1px;
      position: absolute;
      top: 50%;
      width: 9999px; }
    .strike > span::before {
      margin-right: 15px;
      right: 100%; }
    .strike > span::after {
      left: 100%;
      margin-left: 15px; }

.button-block {
  padding-top: 1%;
  text-align: center; }

.btn-base, .btn-solution, .btn-next, .btn-sprint {
  border: 1px solid #74afad;
  border-radius: 7px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  overflow: hidden;
  padding: 3%;
  text-align: center;
  text-overflow: ellipsis;
  transition: all .25s ease-in-out;
  white-space: nowrap; }
  .btn-base:hover, .btn-solution:hover, .btn-next:hover, .btn-sprint:hover {
    background-color: #74afad; }

.correct-answer {
  background-color: #75af73;
  color: #fff; }
  .correct-answer:hover {
    color: #fff;
    background-color: #75af73; }

.wrong-answer {
  background-color: #af7375;
  color: #fff; }
  .wrong-answer:hover {
    color: #fff;
    background-color: #af7375; }

.border-wrong-answer {
  border-color: #af7375; }

.border-correct-answer {
  border-color: #75af73; }

.word-no-answer {
  border-color: #74afad; }

.center {
  text-align: center; }

.disable {
  opacity: .5;
  pointer-events: none; }

.disable-click {
  pointer-events: none; }

.divider {
  border-color: #74afad;
  margin-bottom: 10px;
  margin-top: 10px; }

.fog {
  opacity: .4; }

.no-padding {
  padding-left: 0;
  padding-right: 0; }

.btn-sprint {
  padding: 2%;
  margin: 0 auto; }
