html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe, video, object {
  max-width: 100%;
}

/* app css stylesheet */

.sprint_line_divider {
  margin-top: 2%;
  margin-bottom: 2%;
  border-color: #74afad;
}

.background {
  background-color: #ececea;
}

.word_card {
  padding: 1%;
  border-radius: 20px;
  overflow: hidden;
  border-width: 2px;
  border-style: solid;
  border-color: #74afad;
}

.word_card_correct_answer {
  border-color: #75af73;
}

.word_card_wrong_answer {
  border-color: #af7375;
}

.word_card_no_answer {
  border-color: #74afad;
}

.letter, .input_letter {
  display: inline-block;
  padding: 1%;
  margin-top: 1%;
  border: 1px solid #74afad;
  border-radius: 5px;
  font-size: 2em;
  min-width: 6%;
}

.letter:not(:first-child), .input_letter:not(:first-child) {
  margin-left: 1%;
}

.input_letter {
  margin-bottom: 1%;
  text-align: center;
  width: 5%;
  background-color: #ececea;
  outline: none;
  cursor: pointer;
}

.input_letter:focus,
.input_letter:hover,
.input_letter:active {
  background-color: #558c89;
  color: #fff;
}

.center {
  text-align: center;
}

.buttons {
  text-align: center;
  padding-top: 1%;
}

.next, .solution {
  margin-right: 2%;
  padding: 3%;
  border: 2px solid #74afad;
  border-radius: 7px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.btn.solution:hover {
  background-color: #75af73;
  color: #fff;
  transform: scale(1.1);
}

.btn.next:hover {
  background-color: #558c89;
  color: #fff;
  transform: scale(1.1);
}

.correct_answer {
  background-color: #75af73;
}

.wrong_answer {
  background-color: #af7375;
}

.container.sprint {
  margin-top: 15%;
}

.row.question_card {
  animation-duration: 0.8s;
}

.correct_answer_solution {
  pointer-events: none;
  opacity: 0.4;
}

.correct_answer_next {
  transform: scale(1.1);
  box-shadow: 0 0 25px #75af73;
}

.btn.next.correct_answer_next {
  background-color: #75af73;
  color: #fff;
}

.sprint_switch_btn {
  position: absolute;
  top: 4%;
  right: 5px;
  color: #558c89;
  cursor: pointer;
}

.sprint_description_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
