<div ng-include src="'navbar/navbar.html'"></div>
<div class="container">
  <div class="row score-container col-sm-12">
    <div class="row">
      <div class="col-sm-2">
      <countdown ng-if="sprint.isLoaded()" count='60' callback='sprint.onTimeFinished()'>
      </countdown>
    </div>
    <div class="col-sm-6">
        <loading>
          <span item class="letter animated" ng-repeat="char in sprint.loadingText track by $index">{{char}}</span>
        </loading>
    </div>
    <span class="score-text">{{sprint.score()}}</span>
    <span class="score-icon glyphicon glyphicon-star"></span>
    </div>
  </div>
  <div ng-if="sprint.isLoaded()" class="question-container animation-duration animated" next-word-nav="sprint.nav" nav-callback="sprint.loadQuestion()" nav-animation="fade">
    <div class="center">
      <span class="letter" ng-repeat="char in sprint.word() track by $index">{{char}}</span>
    </div>
    <div class="col-sm-12 strike">
        <span>Translation</span>
    </div>
    <div class="center">
      <span class="letter" ng-repeat="char in sprint.answer() track by $index">{{char}}</span>
    </div>
    <div class="button-block col-sm-12">
      <div type="button" class="btn-sprint" ng-click="sprint.onAnswer(true)">Yes</div>
      <div type="button" class="btn-sprint" ng-click="sprint.onAnswer(false)">No</div>
    </div>
  </div>
</div>
