.login_container {
  display: table;
  height: 80%;
  position: absolute;
  width: 100%;
}

.login_form_container {
  display: table-cell;
  vertical-align: middle;
}

.login_form_content {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.login_form_border {
  display: inline-block;
  padding: 20px;
}

.login_divider {
  margin-bottom: 10px;
  margin-top: 10px;
}

.strike {
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;

  & > span {
    display: inline-block;
    position: relative;

    &::before,
    &::after {
      background: $main-color;
      content: '';
      height: 1px;
      position: absolute;
      top: 50%;
      width: 9999px;
    }

    &::before {
      margin-right: 15px;
      right: 100%;
    }

    &::after {
      left: 100%;
      margin-left: 15px;
    }
  }
}

.auth_tab {
  border-radius: 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: $arial;
  font-size: 1em;
  overflow: hidden;
  padding: 0 3% 3%;
  text-align: center;
  text-overflow: ellipsis;
  transition: all 0.25s ease-in-out;
  white-space: nowrap;
}

.auth_tab_selected {
  @extend .auth_tab;
  border-bottom: 1px solid $main-color;
}

.btn_auth_submit {
  background-color: $bg-color;
  &:focus {
    outline: none !important;
  }
}

.auth_input {
  border: 1px solid $main-color;
  border-radius: 4px;
}

.auth_margin {
  margin-top: 2px;
}

.shadow {
  box-shadow: 3px 3px 5px 6px #ccc;
}

.btn_oauth {
  line-height: 30px;
  &:hover {
    opacity: 1;
  }
}

.btn_oauth_icon {
  float: left;
  font-size: 30px;
}

.auth_help_block {
  font-size: 0.7em;
  font-weight: bold;
  margin-bottom: 5px;
  max-height: 0.8em;
  min-height: 0.8em;
  opacity: 0.6;
}
