.auth-tab {
  border-radius: 0;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-family: $arial;
  font-size: 1em;
  overflow: hidden;
  padding: 0 3% 3%;
  text-align: center;
  text-overflow: ellipsis;
  transition: all .25s ease-in-out;
  white-space: nowrap;
}

.auth-tab-selected {
  @extend .auth-tab;
  border-bottom: 1px solid $main-color;
}

.btn-auth-submit {
  background-color: $bg-color;

  &:focus {
    outline: none !important;
  }
}

.auth-margin {
  margin-top: 2px;
}

.shadow {
  box-shadow: 3px 3px 5px 6px $gray;
}

.btn-oauth {
  line-height: 30px;

  &:hover {
    opacity: 1;
  }
}

.btn-oauth-icon {
  float: left;
  font-size: 30px;
}

.auth-help-block {
  font-size: .7em;
  font-weight: bold;
  margin-bottom: 5px;
  max-height: .8em;
  min-height: .8em;
  opacity: .6;
}
