.category-layout {
  padding: 2% 10%;
}

.category-container {
  background-color: $main-grid-color;
  border: 1px solid $selection-main-color;
  border-radius: .5rem;
  box-shadow: 0 0 5px $main-color;
  cursor: pointer;
  text-align: center;
  transition: background-color .25s ease-in-out;
  vertical-align: top;
  margin: 1%;
  padding: 0 5px;
  position: relative;

  .text {
    font-size: 0.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &:hover {
    background-color: $selection-main-color;
  }
}

.category-img {
  height: 64px;
  width: 64px;
}

.category-tooltip {
  font-size: 0.7rem;
  word-wrap: break-word;
}

.category-header-divider {
  border-color: $main-color;
  margin-bottom: 0px;
  margin-top: 3px;
}

.category-header {
  padding-bottom: 5px;
}

.btn-category {
  border: 1px solid $main-color;
  border-radius: 7px;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-family: $arial;
  font-size: 0.6rem;
  overflow: hidden;
  padding: 1%;
  margin: 1%;
  text-align: center;
  text-overflow: ellipsis;
  transition: all .25s ease-in-out;
  white-space: nowrap;

  &:hover {
    background-color: $selection-main-color;
  }
}

.btn-modal-add-category {
  @extend .btn-category;
  margin-top: 5%;
  padding: 3%;
}

.input-category {
  @extend .input-base;
  font-style: normal;
}

.btn-remove-category {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: -4px;
  right: -4px;
  font-size: 0.8rem;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
