.dictionary-table {
  border-collapse: collapse;
  display: table;
  margin-top: 50px;
}

.dictionary-row {
  width: 100%;
  display: table-row;
  border-bottom: 1px dashed $main-color;
}

.dictionary-caption {
  width: 100%;
  display: table-caption;
  border-bottom: 1px solid $main-color;
}

.checkbox-cell {
  cursor: pointer;
  display: table-cell;
  height: 3rem;
  width: 3rem;
  border-right: 1px solid $main-color;
  text-align: center;
  vertical-align: middle;
}

.checkbox {
  display: inline-block;
}

.search-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-left: 0.8rem;
}

.search {
  border: 1px solid $main-color;
  font-size: 1.1rem;
  font-family: $arial-serif;
  padding-right: 1rem;
  border-bottom-right-radius: 8px;
}

.btn-add {
  @extend .btn-dictionary;
  font-size: 0.9rem;
  margin-left: -1.1rem;
}

.batch-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-left: 1rem;
}

.batch-group {
  border: 1px solid $main-color;
  border-radius: 5px;
  font-size: 0;
}

.batch-item {
  display: inline-block;
  vertical-align: middle;
  height: 1.5rem;
  width: 2rem;
  font-size: 1rem;

  > i {
    margin-top: 0.25rem;
  }

  &:not(:last-child) {
    border-right: 1px solid $main-color;
  }
}

.sound-cell {
  display: table-cell;
  width: 3rem;
  text-align: center;
  vertical-align: middle;
}

.btn-dictionary {
  cursor: pointer;
  display: inline-block;

  &:hover {
    color: $main-color;
  }
}

.word-cell {
  display: table-cell;
  text-align: left;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.img-cell {
  display: table-cell;
  width: 2rem;
  vertical-align: middle;
  transition: all .25s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.dictionary-img {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  object-fit: fill;
}

.empty-list-cell {
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
  background-color: $bg-monochromatic;
  border-radius: 0 0 5px 5px;
}

.dictionary-search-word {
  color: $letter-selection-color;
}

.remove-cell {
  display: table-cell;
  width: 3rem;
  text-align: center;
  vertical-align: middle;
}
