.dictionary-table {
  border-collapse: collapse;
  display: table;
  margin-top: 50px;
}

.dictionary-row {
  width: 100%;
  display: table-row;
  border-bottom: 1px dashed $main-color;
}

.sound-cell {
    display: table-cell;
    width: 3rem;
    text-align: center;
    vertical-align: middle;
}

.btn-sound {
  cursor: pointer;
  display: inline-block;

  &:hover {
    color: $main-color;
  }
}

.word-cell {
  display: table-cell;
  text-align: left;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.img-cell {
  display: table-cell;
  vertical-align: middle;
}

.dictionary-img {
  float: right;
  width: 2rem;
  height: 2rem;
  object-fit: fill;
}

.checkbox-cell {
  cursor: pointer;
  display: table-cell;
  height: 3rem;
  width: 3rem;
  border-right: 1px solid $main-color;
  text-align: center;
  vertical-align: middle;
}

.checkbox {
  display: inline-block;
  // vertical-align: top;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}
