.main-header {
  position: relative;
  text-align: center;
}

.main-layout {
  padding: 0 10%;
}

.main-game-container {
  background-color: $main-grid-color;
  border: 1px solid $selection-main-color;
  border-radius: .5rem;
  box-shadow: 0 0 5px $main-color;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 150px;
  margin-bottom: 2%;
  max-height: 150px;
  text-align: center;
  transition: background-color .25s ease-in-out;
  vertical-align: middle;

  &:hover {
    background-color: $selection-main-color;
  }

  > span {
    > sup {
      font-size: 1rem;
    }
  }
}

.btn-main {
  @extend .btn-base;
  @extend .vertical-center;
  font-size: .8rem;
  padding: 1%;

  &:hover {
    background-color: $selection-main-color;
  }
}

.btn-main-categories {
  @extend .btn-main;
  right: 0%;
}

.btn-main-select-category {
  @extend .btn-main;
  left: 0%;
}

.main-selected-category {
  font-size: 1.1rem;
  display: inline-block;
  overflow: hidden;
  padding: 1%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}

.btn-main-modal-select {
  @extend .btn-base;
  font-size: .8rem;
  margin-top: 2%;
}

.main-modal-select-layout {
  text-align: center;
  clear: both;
  display: inline;
  overflow: hidden;
  white-space: nowrap;
}

.main-modal-text {
  width: 30%;
}

.main-modal-select {
  border: 1px solid $main-color;
  border-radius: 7px;
  font-family: $cursive;
  width: 65%;

  > option:first-child {
    background-color: $gray;
  }
}

.main-modal-select-all {
  background-color: #CCC;
}

.main-selected-category-header {
  font-size: .8rem;
  font-family: $cursive;
}
