.header-layout {
  background-color: $navbar-bg-color;
  margin: auto;
  min-height: 40px;
  padding: 10px 20px;
  border-bottom: $navbar-border-color 3px solid;

  a {
    color: $white;
    font-family: $cursive, $arial;
    font-style: italic;
    text-decoration: none;

    &:hover, &:focus, &:active {
      color: $black;
      font-weight:bold;
    }
  }
}

.nav-brand {
  float: left;

  img {
    width: 20px;
  }

  a {
    margin-left: 10px;
    float: left;
    cursor: pointer;
  }
}

.nav-brand-image {
  position: absolute;
  left: 5px;
}

.nav-container {
  padding: 0 10px;
  float: right;
}

.nav-right {
  li {
    float: left;
    display:inline;
    padding-left: 15px;
  }
}

@media(max-width: 768px) {

  .nav-container,
  .nav-brand {
    float: none;
    text-align: center;
  }

  .nav-brand a,
  .nav-right li {
    float: none;
  }

  .nav-brand img {
    width: 40px;
  }
}
