.user-data-container {
  font-family: $cursive;
  background-color: $white;
  height: 90vh;
  overflow: hidden;
  margin-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  position: relative;
}

.profile-edit {
  cursor: pointer;
  font-size: .8rem;

  &:hover {
    color: $main-color;
  }
}

.profile-avatar-layout {
  float: left;
  margin: 2% 2%;
}

.profile-avatar {
  position: relative;
  width: 80px;
}

.profile-username {
  font-size: 1.3rem;
}

.profile-info {
  font-size: 1rem;
}

.progress-container {
  margin-left: 160px;
  margin-top: 10px;
}

.rank-level {
  background: url('images/level.png');
  float: left;
  font-size: 1.1rem;
  height: 48px;
  margin-left: 8%;
  margin-right: -15px;
  margin-top: -12px;
  padding-top: 15px;
  text-align: center;
  width: 48px;
}

.rank-bar {
  margin-right: 10%;
}

.profile-activity {
  margin-left: 160px;
  margin-top: 50px;
}

.profile-divider {
  margin-left: 20px;
  margin-top: 5px;
}

.profile-activity-header {
  font-size: 1.5rem;
}

.profile-activity-body {
  margin-bottom: 10px;
}

.profile-activity-body-timeline {
  font-size: 1rem;
}

.profile-activity-body-info {
  background-color: $bg-color;
  border-radius: 3px;
  display: inline-block;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.profile-activity-body-info-description {
  padding-bottom: 2px;
  padding-top: 10px;
}

.profile-background-img {
  bottom: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  height: 50%;
}
