$main-color: #74afad;
$bg-color: #ececea;
$main-grid-color: #f4f2f2;
$navbar-bg-color: #a2c9c8;
$navbar-border-color: #b3b5b8;
$selection-main-color: #abcfcd;
$score-color: #af8f73;
$solution-color: #75af73;
$wrong-color: #af7375;
$letter-selection-color: #558c89;
$category-caption: #467A78;
$gray: #ccc;
$black: #000;
$white: #fff;
$bg-monochromatic: #e0e0dd;

$arial: Arial, Helvetica, sans-serif;
$cursive: Cursive, Monospace, sans-serif;
