$main-color: #74afad;
$bg-color: #ececea;
$main-grid-color: #f4f2f2;
$navbar-bg-color: #a2c9c8;
$selection-main-color: #abcfcd;
$score-color: #af8f73;
$solution-color: #75af73;
$wrong-color: #af7375;
$letter-selection-color: #558c89;
$gray: #ccc;
$black: #000;
$white: #fff;

$arial: Arial, Helvetica, sans-serif;
$arial-serif: Arial, Helvetica, serif;
$papyrus: Papyrus, fantasy;
