<div class="center">
  <span class="letter" ng-repeat="char in spt.data.word track by $index">{{char}}</span>
  <a class="sprint_switch_btn" ui-sref="sprint.description"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
</div>
<hr class="sprint_line_divider"/>
<div class="center">
  <focus>
    <input class="input_letter" maxlength="1" ng-model="spt.answer[$index].char"
      ng-repeat="char in spt.data.translation.ua[0] track by $index" letter char="{{char}}" index="{{$index}}" on-model-change="spt.checkAnswer()"/>
  </focus>
</div>
