<div class="row animation_duration animated" next-word-nav="spt.index" nav-callback="spt.onWordLoad()">
  <div class="word col-sm-offset-2 col-sm-8" apply-answer="spt.answerState" >
    <div class="center">
      <span class="letter" ng-repeat="char in spt.data.word track by $index">{{char}}</span>
      <a class="btn_word_switch_state" ui-sref="sprint.description"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
    </div>
    <hr class="divider"/>
    <div class="center">
      <focus>
        <input class="input_letter" maxlength="1" ng-model="spt.answer[$index].char"
          ng-repeat="char in spt.data.translation.ua[0] track by $index" letter char="{{char}}" index="{{$index}}" on-model-change="spt.checkAnswer()"/>
      </focus>
    </div>
  </div>
</div>
<div class="button_block col-sm-offset-4 col-sm-4">
  <div type="button" class="btn btn_solution" ng-class="{'btn_disable':spt.isCorrect()}" ng-click="spt.applyAnswer()">Solution</div>
  <div type="button" class="btn btn_next"  ng-class="{'btn_highlight':spt.isCorrect()}" ng-click="spt.nextWord()">Next</div>
</div>
