<div class="question_card animated" next-word-nav="spt.index" nav-callback="spt.loadWord()">
  <div apply-answer ng-model="spt.answerState" class="word_card">
    <span class="letter" ng-repeat="char in spt.data.word track by $index">{{char}}</span>
    <hr/>
    <focus>
      <input class="letter input_letter" maxlength="1" ng-model="spt.answer[$index].char"
        ng-repeat="char in spt.data.translation.ua[0] track by $index" letter char="{{char}}" index="{{$index}}" on-model-change="spt.checkAnswer()"/>
    </focus>
  </div>
</div>
<div class="buttons">
  <div class="button solution" ng-class="{'correct_answer_solution':spt.isCorrect()}" ng-click="spt.applyAnswer()">Solution</div>
  <div class="button next"  ng-class="{'correct_answer_next':spt.isCorrect()}" ng-click="spt.nextWord()">Next</div>
</div>
