
<img class="img-thumbnail avatar" alt="avatar" ng-src="{{user.profile.avatar}}"/>
<div class="center">
  <div class="profile_username">{{user.profile.info.name}}</div>
  <div class="profile_info">Age: {{user.profile.info.age}}, status: {{user.profile.rank.status}}</div>
</div>
<div class="progress_container">
  <div class="rank_level">{{user.profile.rank.level}}</div>
  <uib-progressbar class="rank_bar" value="user.profile.rank.progress" type="success"></uib-progressbar>
</div>
<img class="background_img" alt="education" src="images/education.png"/>
<div class="center profile_activity">
    <div class="profile_activity_header">Activities</div>
    <hr class="profile_divider"/>
    <div class="profile_activity_body" ng-repeat="activity in user.profile.activities">
      <div class="profile_activity_body_timeline">{{activity.date}}</div>
      <div class="profile_activity_body_info">
        <div ng-repeat="info in activity.info" class="profile_activity_body_info_description">{{info}}</div>
      </div>
    </div>
</div>
