<img class="img-thumbnail avatar" alt="avatar" ng-src="{{user.profile.avatar}}"/>
<div class="center">
  <div class="profile-username">{{user.profile.info.name}}</div>
  <div class="profile-info">Age: {{user.profile.info.age}}, status: {{user.profile.rank.status}}</div>
</div>
<div class="progress-container">
  <div class="rank-level">{{user.profile.rank.level}}</div>
  <uib-progressbar class="rank-bar" value="user.profile.rank.progress" type="success"></uib-progressbar>
</div>
<img class="background-img" alt="education" src="images/education.png"/>
<div class="center profile-activity">
    <div class="profile-activity-header">Activities</div>
    <hr class="profile-divider"/>
    <div class="profile-activity-body" ng-repeat="activity in user.profile.activities">
      <div class="profile-activity-body-timeline">{{activity.date}}</div>
      <div class="profile-activity-body-info">
        <div ng-repeat="info in activity.info" class="profile-activity-body-info-description">{{info}}</div>
      </div>
    </div>
</div>
