<div class="user-container" ng-if="user.profile.info">
  <div class="row">
      <ul class="tabs nav nav-tabs nav-stacked">
          <li ng-class="{'active': user.isActive('profile')}">
              <a class="tab-img" ng-click="user.select('profile')"
              ui-sref="user.profile">
                <figure>
                  <img class="tab-img" alt="profile" src="images/profile.png"/>
                  <figcaption>My profile</figcaption>
                </figure>
              </a>
          </li>
          <li ng-class="{'active': user.isActive('dictionary')}">
              <a ng-click="user.select('dictionary')" ui-sref="user.profile">
                <figure>
                  <img class="tab-img" alt="dictionary" src="images/dictionary.png"/>
                  <figcaption>Dictionary</figcaption>
                </figure>
              </a>
          </li>
      </ul>
    <div class="col-sm-10 no-padding">
        <div class="user-data-container" ui-view></div>
    </div>
  </div>
</div>
