<div class="row animation_duration animated" next-word-nav="quiz.nav" nav-callback="quiz.loadQuestion()" nav-animation="roll">
  <div class="word col-sm-offset-2 col-sm-8" apply-answer="quiz.answerState()">
    <div class="center">
      <span class="letter" ng-repeat="char in quiz.word() track by $index">{{char}}</span>
      <a class="btn_word_switch_state" ui-sref="spelling.description" ng-click="quiz.hint()"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
    </div>
    <hr class="divider"/>
    <div class="center">
      <focus>
        <input class="input_letter" maxlength="1" ng-model="quiz.answer()[$index].char"
          ng-repeat="char in quiz.translation() track by $index" letter char="{{char}}" index="{{$index}}" on-model-change="quiz.checkAnswer()"/>
      </focus>
    </div>
  </div>
</div>
<div class="button_block col-sm-offset-4 col-sm-4">
  <div type="button" class="btn btn_solution" ng-class="{'disable':quiz.isCorrect()}" ng-click="quiz.applyAnswer()">Solution</div>
  <div type="button" class="btn btn_next"  ng-class="{'disable':!quiz.isCorrect(), 'btn_highlight':quiz.isCorrect()}" ng-click="quiz.onNavigation()">Submit</div>
</div>
